.container {
    max-width: $max-width-xxl;
    margin: 3rem auto;
    padding: 0 1.2rem;
}


%btn {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: all 0.8s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

%before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 15px solid $primary-color;
    border-bottom: 15px solid $primary-color;
    border-right: 15px solid transparent;
    transform: translateX(-100%);
    transition: all 0.8s;
    z-index: -1;

}

%after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 15px solid $primary-color;
    border-bottom: 15px solid $primary-color;
    border-left: 15px solid transparent;
    transform: translateX(100%);
    transition: all 0.8s;
    z-index: -1;

}

.btn {
    &-primary {
        border-color: $primary-color;
        color: $primary-color;
        @extend %btn;

        &:before {
            @extend %before;
        }

        &::after {
            @extend %after;
        }

        &:hover {
            color: $secondary-color;

            &:before {
                transform: translateX(0);
            }

            &:after {
                transform: translateX(0);
            }
        }
    }

    &-secondary {
        border-color: $secondary-color;
        color: $secondary-color;
        @extend %btn;

        &:before {
            @extend %before;
            border-color: $secondary-color;
            border-right-color: transparent;
        }

        &::after {
            @extend %after;
            border-color: $secondary-color;
            border-left-color: transparent;
        }

        &:hover {
            color: $primary-color;

            &:before {
                transform: translateX(0);
            }

            &:after {
                transform: translateX(0);
            }
        }
    }
}

@mixin flexBox($direction, $align, $justify, $gap) {

    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;

}