* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $secondary-color;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.2;
    transition: all 0.5s;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}